/*****************
*                *
*     Header     *
*                *
******************/


header {
  background-color: var(--negro);
  border-bottom: 1rem solid var(--rojo);
}

header * {
  color: #fff;
}

header h1 {
  color: var(--blanco-texto);
  font-weight: 400;
}

/*************************
*                        *
*     Redes sociales     *
*                        *
**************************/

h3.redes-sociales {
  font-weight: 500;
  margin-bottom: 2rem;
}

/*************************
*                        *
*     Frase e imagen     *
*                        *
**************************/

section.frase-motivadora {
  background-color: var(--rojo-tenue);
}

.frase-izq, .frase-der {
  width: 49%;
}

.container-frase {
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
  padding: 10%;
  border-radius: 5px;
  margin: 0 auto;
}

.container-frase h3 {
  font-weight: 400;
}

.frase-der {
  overflow: hidden;
  justify-content: flex-end;
}

section.patrocinadores{
  background-color: var(--negro);
}
.patrocinadores h1{
  color: var(--blanco-texto);
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
}
.patrocinadores-tabla{
  display: grid;
  position: relative;
  grid-template-rows: max-content;
  grid-template-columns: auto auto auto;
  grid-gap: 20px 10px;
  overflow: hidden;
  padding: 10px;
  max-width: 2000px;
}
.img-patrocinadores{
  width: auto;
}

#publica, #gobilda{
  background-color: rgb(237, 226, 226);
  position: relative;
  top: 25%;
  bottom: 25%;
}

#foto-ingenieria {
  width: auto;
}
@media screen and (max-width: 700px){
  .patrocinadores, ..patrocinadores-tabla{
    width: 100%
    margin: 1em 0;
  }
  .img-patrocinadores{
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 700px){
  .frase-izq, .frase-der {
    width: 100%;
    margin: 1rem 0;
  }

  .frase-der {
    justify-content: center;
  }

  #foto-ingenieria {
    width: 90%;
    height: auto;
  }
}

/************************
*                       *
*     Que ofrecemos     *
*                       *
*************************/

section.que-ofrece {
  background-color: var(--negro);
}

.que-ofrece h5 {
  color: var(--blanco-texto);
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
}

.que-ofrece a {
  color: var(--rojo);
  background-color: var(--rojo-tenue);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 60%;
  padding: 1.5rem 3rem;
  border: 0.35rem solid var(--rojo);
  border-radius: 0.5rem;
  margin: 2rem auto 0;
}

.que-ofrece a:hover {
  background-color: #000;
}

@media screen and (max-width: 780px) {
  .que-ofrece a {
    width: 75%;
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 425px) {
  .que-ofrece a {
    width: 90%;
  }
}

/*********************
*                    *
*     Cubrebocas     *
*                    *
**********************/

section.cubrebocas {
  background-color: var(--blanco-texto);
}

.cubrebocas * {
  color: var(--negro-texto);
}

.cubrebocas h2 {
  color: var(--rojo);
  font-weight: 300;
  text-align: left;
  max-width: 35rem;
}

div.switch {
  background-color: var(--rojo-tenue);
  margin: 1rem auto;
  border: 2px solid #000;
}

.switch button {
  color: var(--negro-texto);
  background-color: var(--rojo-tenue);
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.idioma-activo {
  color: var(--blanco-texto) !important;
  background-color: #000 !important;
}

iframe {
  display: block;
}

#manual-cubrebocas-spanish, #manual-cubrebocas-english {
  width: 90%;
  height: 60vh;
  margin: 2rem auto;
}

/**************************
*                         *
*     Foto del equipo     *
*                         *
***************************/

#fotos-equipo {
  height: 90vh;
  max-height: 100vw;
  padding: 0;
  position: relative;
}

.foto-pantalla {
  width: 100%;
  height: 90vh;
  max-height: 100vw;
  position: absolute;
}

#foto-nacional {
  background-image: url(../img/Hardlus-nacional-2020.jpg);
  background-size: cover;
  background-position: 50% 80%;
}

#foto-ocuilan {
  background-image: url(../img/Hardlus-Ocuilan.jpg);
  background-size: cover;
  background-position: 50% 100%;
  opacity: 0;
  animation-name: esconder-foto;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes esconder-foto {
  0% { opacity: 0; }
  45% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 1; }
}

#logo-grande {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#container-logo .centre {
  margin-top: 25vh;
}

/***************************
*                          *
*     Concurso de arte     *
*                          *
****************************/

#concurso-arte {
  background-image: url(../img/ganador-arte.jpeg);
  background-position: 50% 50%;
}

#concurso-arte h2 {
  color: var(--blanco-texto);
  font-weight: 500;
  max-width: 39rem;
}

#concurso-arte a {
  color: var(--rojo);
  background-color: var(--rojo-tenue);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: block;
  box-sizing: border-box;
  width: 30%;
  padding: 1.5rem 3rem;
  border: 0.35rem solid var(--rojo);
  border-radius: 0.5rem;
  margin: 0 auto;
}

#concurso-arte a:hover {
  background-color: #000;
}

@media screen and (max-width: 780px) {
  #concurso-arte a {
    width: 75%;
    padding: 1rem 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  #concurso-arte a {
    width: 90%;
  }
}
