header {
  background-image: url('../img/torneo-FIFA/fifa_background_hd.png');
  background-size: cover;
  background-position-x: 20%;
}

h1 {
  color: var(--blanco-texto);
}

h2 {
  color: var(--rojo);
}

header .parrafo {
  color: var(--blanco-texto);
}

.fondo-texto {
  background-color: rgba(25, 25, 25, 0.5);
  padding: 2rem 0;
}

header span {
  color: var(--rojo);
  font-size: 3rem;;
  font-weight: 700;
}

/**********************************
*                                 *
*     Links para Google Forms     *
*                                 *
***********************************/

#forms-registro {
  background-color: #000;
}

.pasos {
  background-color: var(--blanco-texto);
  width: 30%;
  min-width: 250px;
  margin-top: 1.5rem;
}

.pasos h6, .pasos p {
  margin: 0 1rem;
}

.pasos h6 {
  text-align: left;
}

.link-form {
  color: var(--blanco-texto);
  background-color: var(--negro);
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid var(--negro);
  margin: 0.5rem 1rem;
}

.link-form:hover {
  color: var(--negro);
  background-color: var(--blanco-texto);
}